doctype html
html
	head
		title= pageTitle
		script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
	body
		table
			each profile in usersObject
				tr
					td= profile.email
					td= profile.display_name
		
		script.
			// 
			$('tr').click(function() {			
				var profileFields = $( this ).find('td')
				var email = profileFields.eq(0).text()
				var displayName = profileFields.eq(1).text()
		
				console.log("Email clicked: ", email)
				console.log("Display name clicked: ", displayName)	
			});