doctype html
html
	head
		title= pageTitle
		script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
	body
		table
			each profile in usersObject
				tr
					td= profile.email
					td= profile.display_name
		
		script.
			// register callback to be executed on profile click
			$('tr').click(function() {
				// get email (database unique identifier)
				var profileFields = $( this ).find('td')
				var email = profileFields.eq(0).text()
		
				console.log("Email clicked: ", email)

				// get displayable profile data of the clicked profile
				var requestURL = '/viewprofile' + '/' + email;
				$.ajax({
					method: 'GET',
					url: requestURL,
					success: function(response) {
						window.location.replace(requestURL);
					}
				});
			});
			